$color_bg_main: #ffffff;
$color_bg_secondary: #12002b;
$color_bg_grey: #78899b;

$color_text_noir: #2c3e50;
$color_text_darckBlack: #222;
$color_text_white: #ffffff;

$color_primary: #00bc77;

$color_message_error: #e20000;
$color_message_success: #00bc77;
