nav {
  @include flex-center;
  margin-right: 0.65rem;
  ul {
    display: flex;
    gap: 1rem;
    li {
      @include flex-center;
      font-weight: bold;
      span {
        margin-left: 0.3rem;
      }

      a {
        @include flex-center;
        img {
          position: relative;
          bottom: 1px;
        }
      }
      &.link:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
