header {
  background-color: $color_bg_main;
  @include flex-between;
  padding: 0.2rem 1.1rem;

  @media only screen and (max-width: 319px) {
    @include flex-column-center;
    padding-bottom: 1rem;
  }
}
