.feature-icon {
  border: 10px solid $color_primary;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin: 0 auto;
  @include flex-center;
}

.feature-item {
  text-align: center;
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: $color_text_darckBlack;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
